.footer__copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    align-content: end;
}

@media screen and (max-width: 767px) {
    .ooter__copyright {
        font-size: 14px;
        line-height: 14px;
    }
}