.lead__image {
    padding-top: 64px;
    min-height: 615px;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        padding-top: 56px;
        min-height: 580px;
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        min-height: calc(100vw/8*5);
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        padding-top: 40px;
    }
}