.place__url-heading {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
    text-transform: uppercase;
}